{% extends "basenav.html" %}
{% block title %} Anagrams {% endblock %}

{% block body %}
<script type="text/javascript" src="/static/js/funky-town.js"></script>

<div class="my-4 container text-center" >
  <h1> Anagrams Game </h1>
  <p class="lead"> Challenge your #bigBrain with some SNAPPY-WORD-SCRAMMBLING! Let's see what you know. </p>
</div>
<div class="container border border-info text-center" style="background-color: #97E2F4;"> <br>
  <div class="card-group">
  {% for i in q %}
      <div class="card align-items-center">
          <h3>{{i|safe}}</h3>
      </div>
  {% endfor %}
</div>
    <br>
    <form method="POST" action="/anagramsresults">
      <h4>What Are the Letters? </h4>
      <t><input class="text-center" type="text" id="myInput" placeholder="" name="original"> <br> <br>
      <h4>What Word Do You See? </h4>
      <input type="text" id="myInput" placeholder="" name="input">  <br>  <br>  <br>
      <button type="submit" class="btn btn-success btn-sm">Submit</button> <br>
    </form>
    <br>
  </div>

{% endblock %}
