{% extends "base.html" %}
{% block navbar %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">StuyBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
                <a class="nav-link" href="/myprofile">My Profile</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="/mygroups">My Groups</a>
        </li>
      	<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Games
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/trivia">Cracking Trivia</a>
                  <a class="dropdown-item" href="/combat">Superhero Combat</a>
                  <a class="dropdown-item" href="/anagrams">Lucky Anagrams</a>
                </div>
      	</li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/logout">
	       <a class="btn btn btn-danger btn-lg my-2 my-sm-0" href="/logout"">Logout</a>
      </form>
    </div>
  </nav>
</header>
{% endblock %}
