{% extends "basenav.html" %}
{% block title %}Home{% endblock %}

{% block body %}

<style>
  .nav-item, .navbar-brand {
    margin-right: 25px;
  }

  .logout {
    float: right;
  }
</style>

<div class="container text-center p-4">
    <h2>Welcome {{user}}!</h2>
</div>
<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="bg-light border-right">
        <button class="btn btn-primary mt-3 ml-3 mb-0" id="new-post">Make A Post!</button>
        <h4 class="p-3">Useful Links</h4>
        <div class="list-group">
            <a href="https://stuy.enschool.org/" class="list-group-item list-group-item-action">Stuyvesant High School</a>
            <a href="https://talos.stuy.edu/" class="list-group-item list-group-item-action">Talos</a>
            <a href="http://www.stuycs.org/" class="list-group-item list-group-item-action">StuyCS</a>
            <a href="https://www.slader.com/" class="list-group-item list-group-item-action">Homework Help</a>
        </div>
      </div>
    </div>

    <div class="col-9" id="feed">

    </div>

  </div>
</div>




{% endblock %}
