{% extends "basenav.html" %}
{% block title %}  {{displayName}}'s Profile {% endblock %}

{% block body %}

{% if message %}
  <div class="alert alert-success m-3" role="alert">
    <strong>Well Done!</strong><br>
    Thanks for joining! We're excited to have you. Please enter your schedule below,
    so that we can start getting you in contact with other students at Stuy!
  </div>
{% endif %}

<div class="container p-2 text-center display-4">
  {{displayName}}'s Profile
</div>

<div class="card-group">
  <div class="card">
    <img class = "card-img shadow-sm p-4 mb-4 bg-white border border-primary rounded-top" src="{{image}}">
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle ml-5"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Want to change your profile picture?
  </button> <br><br>
  <div class="dropdown-menu" aria-labelledby="changePicDropdown">
    <form class="pl-3 pr-3" action="/changePic" method="POST">
  <label class="sr-only" for="inlineFormInputName2">Name</label>
    <input type="text" class="form-control mb-2" id="imageurl" name="newImage" placeholder="Paste your image link here!">
  <button type="submit" class="btn btn-primary mb-1">Submit</button>
</form>
  </div>
</div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title "> Email:
        <a href = "mailto: {{email}}">{{email}}</a>
      </h5>
        <h5> Bio: <button class="btn btn-link pb-2" id="editbio">Edit</button> </h5>
        <p id="currentbio">{{bio}}</p>
        <div id="editbox">
        </div>
      <a href="/settings" class="btn btn-info">Change Settings</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div id="reminder-heading">
        <h4 class="card-title">Reminders</h4>
        <!--<form action="/reminder" method="POST">-->
          <div class="input-group mb-3" id="salad">
            <input class="form-control" id="myInput" placeholder="Calculus homework...">
            <div class="input-group-append">

                <button class="btn btn-outline-success" type="submit" onclick="addRem()">Add</button>

            </div>
          </div>
      <!--  </form>-->
      </div>

      <ul id="reminder-list" onload="close()">
        {% for r in reminders %}
          <li class="reminder-item">{{ r[0] }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<br>
<div class="container-fluid">
  <h4>Schedule:</h4>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Want to change your schedule?</strong> Just change the text in the fields below and press the submit button below!
  </div>
  <form action="/update_schedule" method="POST">
    <div class="form-group">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Period</th>
            <th scope="col">Course</th>
          </tr>
        </thead>
        <tbody>
          {% for i in schedule %}
          <tr>
            <td> {{ loop.index }} </td>
            <td>
              <input class="form-control" name="period{{loop.index}}" placeholder="{{i}}">
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <button type="submit" class="btn btn-danger">Save Changes</button>
    </div>


  </form>
</div>

<script type="text/javascript" src="/static/js/bio.js"></script>
<script type="text/javascript" src="/static/js/reminders.js"></script>

{% endblock %}
