{% extends "basenav.html" %}
{% block title %}  {{displayName}}'s Profile {% endblock %}

{% block body %}

{% if message %}
  <div class="alert alert-success m-3" role="alert">
    <strong>Well Done!</strong><br>
    Thanks for joining! We're excited to have you. Please enter your schedule below,
    so that we can start getting you in contact with other students at Stuy!
  </div>
{% endif %}

<div class="container p-2 text-center display-4">
  {{displayName}}'s Profile
</div>

<div class="card-group">
  <div class="card align-items-center">
    <img src="{{image}}" width="250" height="250">
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title "> Email:
        <a href = "mailto: {{email}}">{{email}}</a>
      </h5>
      <p class="card-text">{{bio}}</p>
      <a href="/settings" class="btn btn-info">Change Settings</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Reminders</h4>
    </div>
  </div>
</div>

<br>

<div class="container-fluid">
  <h4>Schedule:</h4>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Period</th>
        <th scope="col">Course</th>
      </tr>
    </thead>
    <tbody>
      {% for i in schedule %}
      <tr>
        <td> {{loop.index}} </td>
        <td> {{i}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
