{% extends "basenav.html" %}
{% block title %} Leaderboard {% endblock %}

{% block body %}
<div class="my-4 container text-center">
  <h1> Trivia Game Results</h1>
</div>
<div class="instruction">
  <p class="text-center lead"> The following will display the number of questions you answered correct.  </p>
  <h1 class="text-center"> {{correct}} / 5 </h1>
  <ol>
    {% for i in answers %}
    <li> <b class= "text-secondary"> QUESTION: </b> {{i|safe}}</li>
    <b class="text-info"> ANSWER: </b> {{answers[i][0]|safe}}
    {% endfor %}
    <br>
  </ol>
  <br>
</div>
  <div>
  </div>
{% endblock %}
